.flag-container {
  max-width: 60rem;
  max-height: 35rem;
  margin: 0 auto;
  text-align: center;
}

.flag-img {
  max-width: 100%;
  object-fit: contain;
  max-height: 35rem;
}

@media screen and (max-width: 640px) {
  .flag-img {
    max-height: 20rem;
  }
}
