*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-height: 100vh;
  font-size: 65%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom right, #f5fafb, #9febf3);
}

#root {
  height: 100%;
}

@media screen and (max-width: 590px) {
  html {
    font-size: 61%;
  }
}
